{{ define "nav-header" }}
    <div class="nav-scroller bg-body shadow-sm">
        <nav class="nav nav-underline" aria-label="Secondary navigation">
            <a class="nav-link" target="_blank" href="https://linkedin.com/in/alexlatam/">Linkedin</a>
            <a class="nav-link" target="_blank" href="https://github.com/alexlatam/">GitHub</a>
            <a class="nav-link" target="_blank" href="https://alexlatam.medium.com/">Medium</a>
            <a class="nav-link" target="_blank" href="alexis.montilla@alexlatam.tech">Email</a>
        </nav>
    </div>
{{end}}